:root {
  --default-background-color:black;
  background-color: var(--default-background-color);
  --blue: #1e90ff;
  --white: #ffffff;
  --main-color:yellow;
  --font-size-multiplier: 3;
  --default-font-size: calc(1ch * var(--font-size-multiplier));
  --number-of-answers:4;
  --max-size: 90%;
}

html,body {
  padding-top: 1vh;
  background-color: var(--default-background-color);
  color: var(--main-color);
  font-size: var(--default-font-size); /* Adjust the value to increase or decrease the font size */
  
  align-items: center;
  flex-direction: column;
  
  /*support Safari 3+*/
  -webkit-user-select: none;

  /*support Internet Explorer 10+*/
  -ms-user-select: none;
  -ms-touch-action: none;

  touch-action: none;
  user-select: none;
}

#popover-container {
  z-index: 9999;
  display: flow;
  /* position: absolute; */
  background-color: #b1a8b4;
  opacity: 80%;
}

#question-container{
  display: none;
  margin: 1px auto;
  justify-items: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  color: #fff;
  /* box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem; */
  height: 100%;
  width: 100%;
  border-radius: 10%;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.container {
 justify-content: center;
 align-items: center;
 text-align: center;
 text-align: center;
}

#problem-container {
  font-size: var(--default-font-size);
  margin-bottom: 15%;
}

.bigger-font{
  font-size: calc(var(--default-font-size)*1.5);
}

.problem {
  font-size: clamp(var(--default-font-size), 10vw, 15vw);
  
  font-size: calc(var(--default-font-size)*var(--font-size-multiplier));
  display: flex;
  flex-direction: column;
  position:relative;
  
  /* top:1em; */
  /* bottom:2ch; */
  flex-basis: 0;
  flex-grow: 1;
}

#answers_container {
  display: flex;
  font-size: clamp(20px, 4vw, 5vw);
  /* flex-basis: 200px; */
  /* flex-grow: 1; */
  /* flex-shrink: 1; */

  align-content:stretch;
  justify-content:center;
  
  position: relative;
  column-gap: 1vw;
  
  column-count: var(--number-of-answers);
}

.answer {
  height:max-content;
  width:max-content;
  
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;

  cursor: move;
  text-align: center;
  
  color: var(--main-color);
  background-color: #000000bb;
  font-size: calc(var(--default-font-size)*var(--font-size-multiplier));
}

.answer:active {
  background-color :gold;
 }

.border{
  display: inline-block;
  margin: auto;
	border: thick solid var(--main-color);
}

.padding{
  padding-top: 0.3cqh;
}

.margin{
  margin-top: 0.2ch;
}

.hide {
 visibility:collapse;
}

.correct {
 background-color :lightgreen;
 color :green;
}

.incorrect {
 background-color :red;
 /*color :light-red;*/
}

#target {
  --default-width:100px;
  width: var(--default-width);
  height: calc(--default-width*0.25);

  border: 2px dashed #000;
  
  display: none;
  /*flex-shrink: 1;*/
  align-items: center;
  justify-content: center;
}

#result {
  position:relative;
  font-weight: bold;
}

.math-question-container{
  display: flex;
  padding: 0.1ch;
}

.question_parts {
  display:flex;
}

.out-of-window {
   background-color: purple;
}

#title {
 text-align: center;
}

#questions_counter {
    display: inline;
}

/* Responsive styling for the boxes */
#problem-container {
 width:95%;
 justify-self: center;
}

#answer-container{
  display: none;
}