:root {
  --background-color:black;
  --selection-color:#2260ff;
  --max-size: 100%;
  z-index: 100;
}

html,body {
  color: var(--main-color);
  font-size: var(--default-font-size);
  
  display: grid;
  columns: 2;
  align-items: center;
  
  touch-action:none;
  user-select: none;
  
  width: var(--max-size);
	height: var(--max-size);
}

button{
	max-height: 2ch;
	font-size: large;
}

.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  color: #fff;
  /* box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem; */
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 300ms;
  /*overflow: hidden;*/

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

#title {
 text-align: center;
 font-size: normal
}

input[type="checkbox" i]:checked {
  background-color: burlywood;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.slider {
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}
.range {
  width: 100%;
}
.bubble {
  background: red;
  color: white;
  padding: 4px 12px;
  position: relative;
  /*margin-left: -6%;*/
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  top: -1px;
  left: 50%;
}

.settings-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
	overflow-y: auto;  /* This will add a scroll if the content overflows the container height */
	height: calc(100vh - 60px);  /* Adjust based on the space you want to leave for buttons and other elements outside the grid */
  }
  
  @media (max-width: 600px) {
	.settings-grid {
	  grid-template-columns: 1fr;
	}
  }

#saveSettings, #loadSettings {
	margin: 10px;
}

/*Operators CSS*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	/* display: flex; */
	align-items: center;
	justify-content: center;
}

.operators {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	user-select: none;
	& > * {
		margin: .5rem 0.5rem;
	};
}

.checkbox-group-legend {
	font-size: 1.5rem;
	font-weight: 700;
	color: #9c9c9c;
	text-align: center;
	line-height: 1.125;
	margin-bottom: 1.25rem;
}

.checkbox-input {
	/* Code to hide the input*/
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
    .checkbox-icon::before{
    svg{
      fill:#2260ff
    };
  }

	&:checked + .checkbox-tile {
    border-color: #2260ff;
		&:before {
			border-color: #2260ff;
			background-color: #2260ff;
		}
    
    .checkbox-label {
			/*color: #2260ff;*/
			box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
			background-color: light-blue;
		}
	}
	
	&:focus + .checkbox-tile {
		border-color: #2260ff;
		box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
	}
}

.checkbox-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 7rem;
	min-height: 7rem;
	border-radius: 0.5rem;
	border: 2px solid #b5bfd9;
	transition: 0.15s ease;
	cursor: pointer;
	position: relative;
};


	.checkbox-tile:before {
		content: "";
		position: absolute;
		display: block;
		width: 1.25rem;
		height: 1.25rem;
		border: 2px solid #b5bfd9;
    	color: var(--main-color);
		border-radius: 50%;
		top: 0.25rem;
		left: 0.25rem;
		opacity: 0;
		transform: scale(0);
		transition: 0.25s ease;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
		background-size: 12px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	};

	.checkbox-tile:hover {
		border-color: var(--selection-color);

		svg {
			fill: var(--selection-color);
				width: 3rem;
				height: 3rem;
			}
	}
    .checkbox-icon::before{
		fill:var(--selection-color);
	  }

svg::selection{
  fill:var(--main-color)
}

.checkbox-icon {
	color: var(--main-color);
	transition: .375s ease;
}

svg {
    fill: var(--main-color);
		width: 3rem;
		height: 3rem;
	}