@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root::after {
  --background-color:black;
  --selection-color:#2260ff;
  --max-size: 100vw;
  /* z-index: 100; */
}

html,
body::after {
	color: var(--main-color);
	display: flow;
	font-size: medium;
	/* display: flex;
  	flex-direction: column;
  	flex-wrap: nowrap;
  	align-items: center; */

	/* width: var(--max-size);
	height: var(--max-size); */
}

body::after {
	font-family: "Inter", sans-serif;
	justify-content: center;
	/* font-size: var(--default-font-size); */
}

#numbers_range,#synUtterance,.operators{
    display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	/* max-height: 3ch; */
	/* flex-grow: var(--max-size); */
    gap: calc(var(--default-font-size));
    align-content: flex-start;
    align-items: center;
    /* justify-content: space-evenly; */
}

.buttons{
	border-color: #0b0b0b00;
	font-size: medium;
	gap: 3px;
}

.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  max-height: 100%;
  /* width: 90%; */
  border-radius: 4px;
  transition: all 300ms;
  /*overflow: hidden;*/

  background: var(--background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: scale(2);
}

#title {
 text-align: center;
}

input[type="checkbox" i]:checked {
  background-color: burlywood;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.slider {
  appearance: none;
  width: 100%;
  max-height: 3ch;
  background: #d3d3d3;
  outline-color: #0b0b0b00;
  opacity: 0.7;
  
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}
.range {
  width: 95%;
}
.bubble {
  background: red;
  color: white;
  padding: 4px 12px;
  position: relative;
  margin-left: -6%;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  top: -1px;
  left: 50%;
}

.settings-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	overflow-y: auto;  /* This will add a scroll if the content overflows the container height */
	/*height: calc(90vh - (2*--default-font-size));*/  /* Adjust based on the space you want to leave for buttons and other elements outside the grid */
  }

#saveSettings, #loadSettings {
	margin: 10px;
}

/*Operators CSS*/

*,
*:after,
*:before {
	box-sizing: border-box;
}

.operators {
	display: flex;
		flex-wrap: row;
		flex-wrap: nowrap;
	justify-content: center;
		margin-left: auto;
		margin-right: auto;
	/* max-width: 300px; */
	user-select: none;
	& > * {
		margin: .5rem 0.5rem;
	};
}

.checkbox-group-legend {
	font-size: 1.5rem;
	font-weight: 700;
	color: #9c9c9c;
	text-align: center;
	line-height: 1.125;
	margin-bottom: 1.25rem;
}

.checkbox-input {
	/* Code to hide the input*/
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
    .checkbox-icon::before{
    svg{
      fill:var(--selection-color);
    };
  }

	&:checked + .checkbox-tile {
    border-color: var(--selection-color);
		&:before {
			border-color: var(--selection-color);
			background-color: var(--selection-color);
		}
    
    .checkbox-label {
			/*color: var(--selection-color);*/
			box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
			background-color: light-blue;
		}
	}
	
	&:focus + .checkbox-tile {
		border-color: #2260ff;
		box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
	}
}

.checkbox-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* min-height: 7rem; */
	border-radius: 0.5rem;
	border: 2px solid #b5bfd9;
	transition: 0.15s ease;
	cursor: pointer;
	position: relative;
};

	.checkbox-tile:before {
		content: "";
		position: absolute;
		display: block;
		width: 1.25rem;
		height: 1.25rem;
		border: 2px solid #b5bfd9;
    	color: var(--main-color);
		border-radius: 50%;
		top: 0.25rem;
		left: 0.25rem;
		opacity: 0;
		transform: scale(0);
		transition: 0.25s ease;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
		background-size: 12px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	};

	.checkbox-tile:hover {
		border-color: var(--selection-color);

		svg {
			fill: var(--selection-color);
				width: 3rem;
				height: 3rem;
			}
	}
    .checkbox-icon::before{
		fill:var(--selection-color);
	  }

svg::selection{
  fill:var(--main-color)
}

.checkbox-icon {
	color: var(--main-color);
	transition: .375s ease;
}

svg {
    fill: var(--main-color);
		width: 3rem;
		height: 3rem;
	}